html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, "Times New Roman", sans-serif;
}

#header {
    width: 100%;
    background-color: black;
    font-weight: bold;
    position: fixed;
    z-index: 2;
}

.header-display {
    height: 50px;
}

#header a {
    text-decoration: none;
    color: white;
    display: inline;
}

#site-title {
    margin: 0;
    position: absolute;
    left: 5.62%;
    top: 15px;   
}

/*
#links {
    position: absolute;
    right: 20%;
    top: 15px;
}*/

#aboutlink, #serviceslink, #portfoliolink, #contactlink {
    padding-right: 20px;
}

#site-title:hover, #aboutlink:hover, #serviceslink:hover, #portfoliolink:hover, #contactlink:hover {
    color: grey;
}

#dropdown {
    position: absolute;
    height: 25px;
    width: 35px;
    top: 10px;
    right: 5%;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    visibility: hidden;
    text-align: center;
}

#nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    height: 50px;
}

#nav-btn {
    font-size: 19px;
    border: 2px solid white;
    border-radius: 5%;
    padding: 7px;
    float: right;
    display: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 1%;
}

#nav-list {
    float: right;
    padding-right: 150px;
    padding-top: 5px;
    margin: 0;
    list-style-type: none;
    background: black;   
}

#nav-list li {
    display: inline-block;
    padding: 10px 10px;
}

#nav-list li a, #site-title {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#dropdown .fa-bars
{
    color: white;
    font-size: 22px;
    position: absolute;
    top: 2px;
    left: 8px
}

#dropdown-links {
    color: white;
    text-align: left;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 5.62%;
}

#drop-aboutlink, #drop-serviceslink, #drop-portfoliolink, #drop-contactlink {
    margin-bottom: 20px;
}

.dropdown-display {
    visibility: hidden;
}

.show-dropdown {
    visibility: visible;
}

.enlarge-header {
    height: 200px;
}

@media screen and (max-width: 990px) {
    #links {
        display: none;
    }    
    #dropdown {
        visibility: visible;
    }
    #nav-btn {
        display: block;
    }
    .wrapper:hover #nav-list {
        display: block;
    }
    #nav-list {
        display: none;
        padding-top: 50px;
        padding-right: 0;
        padding-left: 100%;
    }
    #nav-list li {
        display: block;
        text-align: right;
        padding-right: 0;
    }
}

#sect1 {
    /*background-image: url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    position: relative;
    overflow: hidden;
    align-content: center;
}

#sect1 video {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@supports (-ms-ime-align:auto) {
    #sect1 video{
        width: auto;
    }
    @media screen and (min-width: 1300px) {
        #sect1 video {
            height: auto;
        }
    }
}

#sect1box {
    font-size: 0;
    position: absolute;
    text-align: center;
    top: 37%;
    width: 100%;
}

#sect1text {
    font-size: 100px;
    margin: 0 10px;
    color: white;
}

@media screen and (max-width: 992px)
{
    #sect1text {
        font-size: 80px;
    }
}

#sect2 {
    /*background: radial-gradient(at bottom left, #E1E6FA, #C4D7ED, #ABC8E2, #375D81);*/
    background-color: white;
    width: 100%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 19px;
}

#sect2 h4 {
    margin: 0 10px;
    margin-bottom: 10px;
}

#sect2 p {
    padding-bottom: 40px;
    margin: 0 10px;
}

#sect3 {
    background-color: black;
    padding-top: 110px;
    padding-bottom: 60px;
    font-size: 14;
    color: white;
    overflow: auto;
    text-align: center;

}

#sect3 li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    color: #e6e4e2;
    text-align: center;
}


#sect3 ul {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

#sect3 h5 {
    margin-bottom: 8px;
}

#sect3 p {
    margin: 0;
    padding: 0;
}

#sect3 .circle-white {
    margin: 10px 0;
}

#sect3 .row > div {
    padding: 20px 0;

}


@media screen and (max-width: 1250px) { /* 1170*/
    #sect3 .row {
        width: 100%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-0 {
        display: none;
    }
    .col-md-12 {
        width: 100%;
    }
    #sect3 li {
        padding-right: 8.47%;
        padding-left: 8.47%;
    }
}

@media screen and (max-width: 768px) {
    .col-lg-12 {
        width: 100%;
    }
    /*#sect3 .circle-white {
        margin: 10px 100px;
    }*/
    #sect3 li {
        padding-right: 5%;
        padding-left: 5%;
    }

}

.circle-white, .circle-blue {
    border-radius: 100%;
    position: relative;
    display: inline-block;
}

.circle-white {
    height: 120px;
    width: 120px;
    background-color: white;
}

#sect3 i {
    font-size: 40px;
    position: absolute;
    z-index: 1;
    color: black;
}

#sect3 .fa-mobile-alt {
    top: 40px;
    left: 48px;
}

#sect3 .fa-pencil-alt, #sect3 .fa-thumbs-up {
    top: 38px;
    left: 42px;
}

#sect3 .fa-moon {
    font-size: 20px;
}

#moon1 {
    transform: rotate(270deg);
    top: 50px;
    left: 41px;
}

#moon2 {
    transform: scaleX(-1);
    transform: rotate(310deg);
    top: 50px;
    right: 41px;
}

#sect4 {
    background: radial-gradient(at top left, #E1E6FA, #C4D7ED, #ABC8E2, #375D81, #183152);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#sect4 p {
    margin: 0 10px;
    padding-bottom: 20px;
}

#sect5 {
    background: white;
    padding: 100px 0;
    text-align: center;
}

#recent-projects {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;
}

#sect5 li {
    display: inline-block;
    margin: 0;
    text-align: left;
}

.text-container {
    position: absolute;
    bottom: 23%;
    left: 14.05%;
}

@media screen and (max-width: 437px) {
    .text-container {
        font-size: 80px;
    }
}

#box-container {
    font-size: 0;
}

.box {
    width: 555px;
    height: 370px;
    position: relative;
    background: #155d74;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    text-align: left;
    max-width: 100%;
    height: auto;
    
}

.box img {
    position: relative;
    transition: opacity .75s;
    max-width: 100%;
    height: auto;
    
}

.box .title5 {
    margin: 10px 0;
    padding-right: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.box .desc5 {
    margin: 0;
    padding-right: 50px;
    font-size: 19px;
    color: white;
    font-weight: lighter;
}

.border-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0px solid white;
    box-sizing: border-box;
    transition: border .25s;
    z-index: 1;
    margin: 0;
}

.box:hover {
    cursor: pointer;
}

.box:hover .border-box {
    border: 30px solid white;
}

.box:hover img {
    opacity: .3;
}

#sect6 {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #111111;
    text-align: center;
    color: white;
}

#sect6 h4 {
    padding-bottom: 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#sect6 ul {
    margin: 0 15px;
    padding: 0;
}

#sect6 li {
    display: inline;
    padding-right: 20px;
}

@media screen and (max-width: 1135px) {
  #box-container {
    padding: 0 13px;
  }
  .box {
      margin: 10px 0;
  }
}

#map {
    width: 100%;
    height: 525px;
}

#footer {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(image.jpg);
}

#footer li {
    display: inline;
    padding-right: 20px;
}

#footer p {
    padding-top: 25px;  
    font-size: 13px;
    font-weight: lighter;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
}

.circle-blue {
    height: 65px;
    width: 65px;
    background-color: white;
    
}

.circle-blue:hover {
    cursor: pointer;
    background-color: #8f8c8a;
}

#footer i {
    color: black;
    font-size: 22px;
    position: absolute;
    z-index: 1;
}

#footer .fa-facebook-f {
    top: 20px;
    left: 26px;
}

#footer .fa-twitter {
    top: 20px;
    left: 23px;
}

#footer .fa-github {
    top: 19px;
    left: 22px;
}

#effects {
    padding:  0;
    background: #e5dada;
    position: relative;
}

#effects .col-6 {
    position: relative;
}

.effect-border {
    background-color: black;
    position: relative;
    height: 260px;
    width: 410px;
    margin: 0 auto;
    opacity: 1;
}
#img-text {
    z-index: 2;
    visibility: hidden;
    transition: visibility 1s;  
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#img-text #line {
    position: absolute;
    top: 30%;
    left: 40%;
    color: black;
    width: 1px;
    height: 1px;
    transition: width 1s;
    transition-timing-function: ease-out;
    border: 1px solid black;
}

#img-text p {
    
    font-size: 1px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    color: black;
    transition: transform 1s;
    transition-timing-function: ease-out;
}

#img-text h2 {
    position: absolute;
    top: 15%;
    left: 50%;
    font-size: 1px;
    transition: transform 1s;
    transition-timing-function: ease-out;
}

#img-text button {
    background-color: black;
    color: white;
    width: 10px;
    height: 3px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    position: absolute;
    transition: transform 1s;
    transition-timing-function: ease-out;
    font-size: 1px;
    position: absolute;
    bottom: 30%;
    left: 50%;
    text-align: center;
    padding: 0;
}

#box-img{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 240px;
    width: 390px;
    background-color: #f0eeec;
    overflow: hidden;
    text-align: center;
}

#box-img img {
    position: absolute;
    top: 0;
    left: 0;
    height: 250px;
    width: 400px;
    transition: all 1s;
    opacity: 1;
    transition-timing-function: ease-out;
}

#border:hover img {
    opacity: 0;
    transform: scale(3);
}

#border:hover #img-text p {
    visibility: visible;
    transform: scale(16);
}

#border:hover #img-text h2 {
    /*font-size: 24px;*/
    transform: scale(24);
    visibility: visible;
}

#border:hover #img-text #line {
    visibility: visible;
    width: 100px;
}

#border:hover #img-text button {
    visibility: visible;
    transform: scale(10);
}

#border-2 {
    margin: 0 auto;
    text-align: center;
    background: url("https://media.cntraveler.com/photos/584b0c70d73ab3263198d860/master/pass/GettyImages-508632554.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#border-2 p {
    margin: 0;
    padding-top: 25%;
    font-size: 35px;
    z-index: 1;
    color: white;
    opacity: 1;
    transition: all .4s;
}

#border-2:hover p{
    opacity: 0;
    font-size: 25px;
    cursor: default;
}

#border-2 #diamond {
    border: 1px solid white;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    rotate(45deg)
    scale(0.3); 
    opacity: 0;
    transition: all .4s;
}

#border-2:hover #diamond {
    opacity: 1;
    transform: translate(-50%, -50%)
    rotate(45deg)
    scale(1); 
}

#container {
    width: 600px;
    height: 700px;
    transform: rotate(45deg);
  }
  
.head-box {
    position: relative;
    height: 150px;
    width: 150px;
    margin: 5px;
    display: inline-block;
    overflow: hidden;
}
  
.head-box img {
    margin: 0 auto;
    height: 142%;
    transform: rotate(-45deg);
    position: absolute;
    top: -21.5%;
    width: 142%;
    left: -21.5%;
}
  
.nameplate {
    background: #eb3d1a;
    width: 213px;
    height: 213px;
    position: absolute;    
    z-index: 1;
    transform: rotate(-45deg);
    top: 79%;
    left: 79%;
    opacity: .8;
    transition: .5s;
    text-align: center;
    color: white;
    font-size: 14px;
}
  
.head-box:hover .nameplate {
    top: 29%;
    left: 29%;
}

#border-3 {
    overflow: hidden;
}

#colorbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7cb6c9;
}

#border-3 img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .5s;
    transform: scale(1.3);
}

#border-3 p {
    color: black;
    z-index: 1;
}

#border-3:hover img {
    transform: scale(1);
    opacity: .6;
}

strong {
    font-weight: bold;
}

em {
    font-style: normal;
}

.not-greyed em {
    color: green;
}

.greyed em {
    color: red;
}

#pricing-table {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin: 10px auto;
}

#pricing-row2, #pricing-row3, #pricing-row4, #pricing-row5 {
    height: 200px;
}

#pricing-table .row {
    position: relative;
    border-radius: 5px;
}

#pricing-table .row > div {
    height: 100%;
    position: relative;
    color: white;
    
}

.pricing-text-wrapper {
    position: absolute;
    left: 60px;
    top: 60px;
    line-height: 15px;
}

.pricing-text-wrapper p {
    font-size: 12px;
    letter-spacing: 10px;
}

#pricing-table button {
    color: white;
}

#pricing-row1 {
    color: white;
    height: 100%;
}

#pricing-row1 .col-4 {
    background-color: #1d1e1e;
}

#pricing-row1 .col-8 {
    background-color: #3b3d3d;
}

#pricing-row2 .col-4, #pricing-row2 .col-2 button {
    background-color: #b4d674;
}

#pricing-row2 .col-6, #pricing-row4 .col-6 {
    background-color: #ededed;
}

#pricing-row3 .col-6, #pricing-row5 .col-6 {
    background-color: white;
}

#pricing-row2 .col-2, #pricing-row4 .col-2 {
    background-color: white;
}

#pricing-row3 .col-2, #pricing-row5 .col-2 {
    background-color: #ededed;
}

#pricing-row2 .col-4 h4 {
    font-size: 40px;
}


#pricing-table .col-2 {
    text-align: center;
}

#pricing-table .col-2 h4 {
    color: black;
    font-weight: normal;
}

#pricing-row3 .col-4, #pricing-row3 .col-2 button {
    background-color: #81d2db;
}

#pricing-row4 .col-4, #pricing-row4 .col-2 button {
    background-color: #f7a90e;
}

#pricing-row5 .col-4, #pricing-row5 .col-2 button {
    background-color: #ef5353;
}

#pricing-table .greyed, #pricing-table .not-greyed {
    padding: 0;
}

.not-greyed p {
    color: black;
    margin: 0;
}

.fa-check {
    margin: 0;
}

#pricing-row2 .not-greyed .fa-check {
    color: #b4d674;
}

#pricing-row3 .not-greyed .fa-check {
    color: #81d2db;
}

#pricing-row4 .not-greyed .fa-check {
    color: #f7a90e;
}

#pricing-row5 .not-greyed .fa-check {
    color: #ef5353;
}

#pricing-row2 {
    border-right: 6px solid #b4d674;
}

#pricing-row3 {
    border-right: 6px solid #81d2db;
}

#pricing-row4 {
    border-right: 6px solid #f7a90e;
}

#pricing-row5 {
    border-right: 6px solid #ef5353;
}

#pricing-row2:hover, #pricing-row3:hover, #pricing-row4:hover, #pricing-row5:hover {
    box-shadow: 0 10px 5px grey;
    transform: scale(1.05);
    z-index: 100;
}

#pricing-row2:hover .col-2 {
    background-color: #b4d674;
}

#pricing-row2:hover .col-2 h4 {
    color: white;
}

#pricing-row2:hover button {
    background-color: black;
}

#pricing-row3:hover .col-2 {
    background-color: #81d2db;
}

#pricing-row3:hover .col-2 h4 {
    color: white;
}

#pricing-row3:hover button {
    background-color: black;
}

#pricing-row4:hover .col-2 {
    background-color: #f7a90e;
}

#pricing-row4:hover .col-2 h4 {
    color: white;
}

#pricing-row4:hover button {
    background-color: black;
}

#pricing-row5:hover .col-2 {
    background-color: #ef5353;
}

#pricing-row5:hover .col-2 h4 {
    color: white;
}

#pricing-row5:hover button {
    background-color: black;
}


.greyed p{
    color: #cecece;
    margin: 0;
}

.grey-line {
    width: 200px;
    border: 1px solid #cecece;
    margin: 10px 0;    
}


h1 {
    font-size: .9em;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 47px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: .28em;
    font-style: italic;
    margin: 0;
    padding-bottom: 50px;
}

h4 {
    font-size: 30px;
    margin: 0;
}

h5 {
    color: white;
    font-size: 25px;
    margin: 0;
}

h6 {
    font-size: 15px;
    text-align: center;
    color: #ecb807;
    margin: 0;
}