html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
#sect1 {
    background-color: #f9c530; 
    background-image: url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif, "Times New Roman";
}

h1 {
    font-size: 80px;
    font-weight: bold;
    padding-top: 350px;
    margin: 0;
}

h3 {
    font-size: 25px;
    font-style: italic;
    margin: 0;
    padding-bottom: 50px;
}
