html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Source Sans Pro", Arial, Helvetica, "Times New Roman", sans-serif;
}

#header {
    width: 100%;
    background-color: black;
    font-weight: bold;
    position: fixed;
    z-index: 2;
}

.header-display {
    height: 50px;
}

#header a {
    text-decoration: none;
    color: white;
    display: inline;
}

#site-title {
    margin: 0;
    position: absolute;
    left: 5.62%;
    top: 15px;   
}


#links {
    position: absolute;
    right: 20%;
    top: 15px;
}

#aboutlink, #serviceslink, #portfoliolink, #contactlink {
    padding-right: 20px;
}

#site-title:hover, #aboutlink:hover, #serviceslink:hover, #portfoliolink:hover, #contactlink:hover {
    color: grey;
}

#header-container {
    border: 2px solid red;
}

#dropdown {
    position: absolute;
    height: 25px;
    width: 35px;
    top: 10px;
    right: 5%;
    color: black;
    border: 2px solid white;
    border-radius: 5px;
    visibility: hidden;
    text-align: center;
}

#nav {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    background: black;
    height: 50px;
}

#nav-btn {
    font-size: 19px;
    border: 2px solid white;
    border-radius: 5%;
    padding: 7px;
    float: right;
    display: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 1%;
}

#nav-list {
    float: right;
    padding-right: 150px;
    padding-top: 5px;
    margin: 0;
    list-style-type: none;
    background: black;   
}

#nav-list li {
    display: inline-block;
    padding: 10px 10px;
}

#nav-list li a, #site-title {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#dropdown .fa-bars
{
    color: white;
    font-size: 22px;
    position: absolute;
    top: 2px;
    left: 8px
}

#dropdown-links {
    color: white;
    text-align: left;
    z-index: 1;
    position: absolute;
    top: 50px;
    left: 5.62%;
}

#drop-aboutlink, #drop-serviceslink, #drop-portfoliolink, #drop-contactlink {
    margin-bottom: 20px;
}

.dropdown-display {
    visibility: hidden;
}

.show-dropdown {
    visibility: visible;
}

.enlarge-header {
    height: 200px;
}

@media screen and (max-width: 990px) {
    #links {
        display: none;
    }    
    #dropdown {
        visibility: visible;
    }
    #nav-btn {
        display: block;
    }
    .wrapper:hover #nav-list {
        display: block;
    }
    #nav-list {
        display: none;
        padding-top: 50px;
        padding-right: 0;
        padding-left: 100%;
    }
    #nav-list li {
        display: block;
        text-align: right;
        padding-right: 0;
    }

}

#sect1 {
    background-color: #f9c530; 
    background-image: url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
}

#sect1box {
    font-size: 0;
    position: absolute;
    text-align: center;
    top: 37%;
    width: 100%;
}

#sect1text {
    font-size: 100px;
    margin: 0 10px;
}

@media screen and (max-width: 992px)
{
    #sect1text {
        font-size: 80px;
    }
}

#sect2 {
    background-color: white;
    width: 100%;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 19px;
}

#sect2 h4 {
    margin: 0 10px;
    margin-bottom: 10px;
}

#sect2 p {
    padding-bottom: 40px;
    margin: 0 10px;
}

#sect3 {
    background-color: #1d809f;
    padding-top: 110px;
    padding-bottom: 60px;
    font-size: 14;
    color: white;
    overflow: auto;
    text-align: center;

}

#sect3 li {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    color: #b7d6e2;
    text-align: center;
}


#sect3 ul {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

#sect3 li h5 {
    margin-bottom: 8px;
}

#sect3 li p {
    margin: 0;
    padding: 0;
}

#sect3 .circle-white {
    margin: 10px 60px;
}

@media screen and (max-width: 1170px) {
    #sect3 li {
        padding-right: 8.47%;
        padding-left: 8.47%;
    }
}

@media screen and (max-width: 740px) {
    #sect3 .circle-white {
        margin: 10px 100px;
    }
    #sect3 li {
        padding-right: 5%;
        padding-left: 5%;
    }

}

.circle-white, .circle-blue {
    border-radius: 100%;
    position: relative;
    display: inline-block;
}

.circle-white {
    height: 120px;
    width: 120px;
    background-color: white;
}

#sect3 i {
    font-size: 40px;
    position: absolute;
    z-index: 1;
    color: #1d809f;
}

#sect3 .fa-mobile-alt {
    top: 40px;
    left: 48px;
}

#sect3 .fa-pencil-alt, #sect3 .fa-thumbs-up {
    top: 38px;
    left: 42px;
}

#sect3 .fa-moon {
    font-size: 20px;
}

#moon1 {
    transform: rotate(270deg);
    top: 50px;
    left: 41px;
}

#moon2 {
    transform: scaleX(-1);
    transform: rotate(310deg);
    top: 50px;
    right: 41px;
}

#sect4 {
    background-color: #f9c530;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-callout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

#sect4 p {
    margin: 0 10px;
    padding-bottom: 20px;
}

#sect5 {
    background-color: white;
    padding: 100px 0;
    text-align: center;
}

#recent-projects {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 50px;
}

#sect5 li {
    display: inline-block;
    margin: 0;
    text-align: left;
}

.text-container {
    position: absolute;
    bottom: 23%;
    left: 14.05%;
}

@media screen and (max-width: 437px) {
    .text-container {
        font-size: 80px;
    }
}

#box-container {
    font-size: 0;
}

.box {
    width: 555px;
    height: 370px;
    position: relative;
    background: #155d74;
    overflow: hidden;
    display: inline-block;
    margin: 0;
    text-align: left;
    max-width: 100%;
    height: auto;
    
}

.box img {
    position: relative;
    transition: opacity .75s;
    max-width: 100%;
    height: auto;
    
}

.box .title5 {
    margin: 10px 0;
    padding-right: 50px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.box .desc5 {
    margin: 0;
    padding-right: 50px;
    font-size: 19px;
    color: white;
    font-weight: lighter;
}

.border-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0px solid white;
    box-sizing: border-box;
    transition: border .25s;
    z-index: 1;
    margin: 0;
}

.box:hover {
    cursor: pointer;
}

.box:hover .border-box {
    border: 30px solid white;
}

.box:hover img {
    opacity: .3;
}

#sect6 {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #1d809f;
    text-align: center;
    color: white;
}

#sect6 h4 {
    padding-bottom: 25px;
}

#sect6 ul {
    margin: 0 15px;
    padding: 0;
}

#sect6 li {
    display: inline;
    padding-right: 20px;
}

@media screen and (max-width: 1110px) {
  #box-container {
    padding: 0 13px;
  }
  .box {
      margin: 10px 0;
  }

}

#map {
    width: 100%;
    height: 525px;
}

#footer {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: white;
}

#footer li {
    display: inline;
    padding-right: 20px;
}

#footer p {
    padding-top: 25px;  
    font-size: 13px;
    font-weight: lighter;
}

.circle-blue {
    height: 65px;
    width: 65px;
    background-color: #1d809f;
}

.circle-blue:hover {
    cursor: pointer;
    background-color: #17708c;
}

#footer i {
    color: white;
    font-size: 22px;
    position: absolute;
    z-index: 1;
}

#footer .fa-facebook-f {
    top: 20px;
    left: 26px;
}

#footer .fa-twitter {
    top: 20px;
    left: 23px;
}

#footer .fa-github {
    top: 19px;
    left: 22px;
}
h1 {
    font-size: .9em;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 47px;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: .28em;
    font-style: italic;
    margin: 0;
    padding-bottom: 50px;
}

h4 {
    font-size: 30px;
    margin: 0;
}

h5 {
    color: white;
    font-size: 25px;
    margin: 0;
}

h6 {
    font-size: 15px;
    text-align: center;
    color: #ecb807;
    margin: 0;
}